@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@800&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,.5);
    background-color: rgb(221, 127, 4);
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color:#000000 !important;
}
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
    margin-left: 200px;
  }
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #000000;
  }
  #navbarSupportedContent button{
    background-color: #ffffff;
    width: 5rem;
    border-radius: 15px;
  }
  section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#home{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8)), url(index.png.jpg);
    background-size:cover ;
    background-position: center;
    flex-direction: column;
   }
#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px opx #ccc,
                 0px 3px opx #ccc,
                 0px 4px opx #ccc,
                 0px 5px opx #ccc,
                 0px 6px opx #ccc,
                 0px 6px opx #ccc,;
   } 
#home p{
    font-size: 18px;
    color: #fff;
   }
#home .input-group{
    width: 40%;
    height: 45px;
    background-color: #cf8701;

   }


#about{
    background:  linear-gradient(#acaba9,#aaa9a5 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: black;
    letter-spacing: 2px;
}
#about p{
    color: rgb(20, 19, 19);
    font-weight: bold;
    letter-spacing: 1px;
}


#product{
    background: #e5e5e5;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5!important;
    border:none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
    transition: .2s;
}
.card:hover{
    box-shadow:inset 5px 5px 10px rgba(0,0,0,.3),inset -4px -4px 10px white;
    transition: .2s;
}



.steps.box{
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}
.steps .box img{
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#contact img{
    height: 100%;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}

